Title: My Lab notebook for this Jupyter course.

Introduction: 
This is Lab exercise for using Jupter notebook for Data Science, AI, and other tasks

List of Data Science Languages:
1. Python
2. R
3. Java
4. Scala
5. SQL
6. Julia

List of Data Science Libraries :
1. scikit-learn
2. TensorFlow
3. PyTorch
4. ggplot2
5. NumPy
6. Dplyr
7. SQL
8. Seaborn

List of Data Science Tools :
1. Apache Hadoop
2. Apache Spark
3. Cloud Pak for Data:
4. Google Colab
5. Jupyter Notebook

In [ ]:
Arithmetic expression examples:

A = 1
B = 2
C = A * B

In [10]:
A = 1
B = 2
C = A * B
C

2

In [12]:
A = 10
B = 20
C = A + B
C

30

In [14]:
def convert_minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

# Example usage
minutes_input = 120
hours_output = convert_minutes_to_hours(minutes_input)
print(f"{minutes_input} minutes is equal to {hours_output} hours.")

120 minutes is equal to 2.0 hours.

Objectives:
1. Setup Jupyter Notebook
2. Document Title, Libraries, and other used for the task
3. Devlope and Execute python code within the Jupyter Notebook

Author: Richard Lam
Date: 2024-09-30